<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <!-- Bootstrap Core CSS -->
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
   <!-- FONT AWESOME -->
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 begin">
          <div class="row">
            <div class="col-md-2 sidebar-title text-center">Markit</div>
            <div class="col-md-8 top-right">
              <div class="row">
                <div class="col-md-7">
                  <form id="custom-search-form" class="form-search form-horizontal pull-left">
                    <input type="text"  placeholder="Search">
                  </form>
                </div>
              </div>
            </div>
            <div class="col-md-2 llz text-right"><a href="menu-toggle" class="btn btn-success" id="menu-toggle">Toggle </a></div>
          </div>
        </div>
        <div id="lwrapper" class="col-md-2 left-side">
          <div class="left-fixedz">
          <div class="row text-center">
            <div class="col-md-12 usr-name"><i class="fa fa-user-circle spa" aria-hidden="true"></i><a href="/user"><%= user_firstName %></a></div>
            <!-- <div class="col-md-12 usr-name"><i class="fa fa-star spa" aria-hidden="true"></i>Favorites</div> -->
            <div class="col-md-12">
              <div class="creat">Create folder</div>
              <form  action='/folders/new' method='POST'>
                <input type="text" name="folder_title" />
                <input type="hidden" name="user_id" value="<%= user_id %>" />
                <input class="btn btn-primary alg " type="submit" value="Add Folder">
              </form>
            </div>
            <div class="col-md-12 folder alz"><i class="fa fa-folder-open-o spa" aria-hidden="true"></i>folders</div>
          <% folders.forEach(function(folder) { %>
            <div class="col-md-12">
              <div class="row folder-name">
                <div class="col-md-9 text-right">
                    <form action='/folders/bookmarks' method='POST'>
                      <input type="hidden" name="folder_id" value="<%= folder.id %>" />
                      <input type="hidden" name="folder_title" value="<%= folder.title %>" />
                      <input type="submit" value="<%= folder.title %>" />
                    </form>
                </div>

                <div class="col-md-3 text-right"><i class="fa fa-trash-o" aria-hidden="true"></i></div>
              </div>
            </div>
<% }) %>
          </div>
        </div>
        </div>

        <div id="rwrapper" class="col-md-10 right-side">
          <div class="left-fixedz">
          <div class="row">
            <form id="custom-search-form" class="form-search form-horizontal pull-right">
            <div class="col-md-7">
                <input type="text"  placeholder="Enter Bookmark URL">

            </div>
            <div class="col-md-3 select-space">
                  <% if (folders.length < 1) { %>
                  <select class="selectpicker btn-primary">
                      <option>Add Folder</option>
                  </select>
                  <% } else { %>

                  <select class="selectpicker btn-primary">
                  <% folders.forEach(function(folder) {
                      if (parseInt(folder.user_id) === parseInt(user_id)) { %>
                        <option><%= folder.title %></option>
                      <% } %>
                 <% }) %>
                  <% } %>

                  </select>
                </div>
                <div class="col-md-2">
                  <input class="btn btn-primary" type="submit" value="Add Bookmark">
                </div>
                </form>
<% folders.forEach(function(folder) {
    bookmarks.forEach(function(bookmark) {
       if (parseInt(bookmark.folder_id) === parseInt(folder.id)) { %>
            <div class="col-md-3">
              <div class="boxz">
                <div class="row">
                  <div class="col-md-12 text-center bx-title-name"><%= bookmark.title %> </div>
                  <div class="col-md-12 text-center bx-url-name "><%= bookmark.url %></div>
                  <div class="col-md-6 text-center edit-box">
                    <i class="fa fa-pencil spa" aria-hidden="true">
                      <!-- Edit -->

                      <a href="<%= '/folders/' + bookmark.id %>">Edit</a>

                      <!-- End edit -->
                    </i></div>


                  <div class="col-md-6 text-center delete-box">
                    <form action="<%= '/folders/bookmark/' + bookmark.id + '?_method=DELETE' %>" method="POST">
                      <input type="hidden" name="bookmark_id" value="<%= bookmark.id %>" />
                      <input type="submit" class="delete-iconz" value="&#xf014;" >
                    </form>
                  </div>


                </div>
              </div>
              <!-- create a new bookmark -->
                <form action='/folders/bookmarks/new' method='POST'>
                  <input type="hidden" name="folder_id" value="<%= folder.id %>" />
                  <input type="hidden" name="folder_title" value="<%= folder.title %>" />
                  <input type="submit" value="Create bookmark" />
                </form>
              </div>
                  <% }}) %>
<% }) %>

            </div>
          </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>
    <!-- Menu Toggle Script -->
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#lwrapper").toggleClass("toggled");
        $('#rwrapper').toggleClass("col-md-12").toggleClass("col-md-10");

    });
    </script>

  </body>
</html>
