<% include ../partials/head.ejs %>
  <body class="boxz">
    <% include ../partials/header.ejs %>
    <main>
        <div class="container text-info">
          <h2>Hello <%= user.firstName %>, Your Profile</h2>
          <div class="panel panel-default">
            <div class="panel-body">User Id: <%= user.id %></div><hr>
            <div class="panel-body">Username: <%= user.username %></div><hr>
            <div class="panel-body">First Name: <%= user.firstName %></div><hr>
            <div class="panel-body">Last Name: <%= user.lastName %></div><hr>
            <div class="panel-body">Email: <%= user.email %></div>
            <div class="panel-footer">
              <a href="/auth/logout">
                <i class="fa fa-sign-out" aria-hidden="true"></i>&nbsp;Logout
              </a>
            </div>
            <div class="panel-footer">
              <a href="/folders">
                <i class="fa fa-bookmark" aria-hidden="true"></i>&nbsp;Bookmarks
              </a>
            </div>
          </div>
      </div>
    </main>
    <% include ../partials/footer.ejs %>
  </body>
</html>
